# Python
__pycache__/
*.pyc
.env

# Docker
*.log

# Node / frontend
node_modules/

# OS junk
.DS_Store

# Secrets
.env
.env.*
update.sh

# Nginx Proxy Manager data
npm/data/
npm/letsencrypt/

# Docker volumes
*.sqlite